.menu-list {
    width: 224px;

    .menu-item {
        justify-content: flex-start;
        width: 100%;
        margin-left: 0;
        padding: 11px 16px;

        &:hover {
            border-radius: 0;
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}
